@font-face {
  font-family: "baloo";
  font-display: swap;
  src: url("../font/BalooBhaijaan2-Regular.ttf") format("truetype");
}
body, html {
  direction: rtl;
  font-family: baloo, sans-serif, serif, Arial, sans-serif;
  transition: all 0.3s ease-in-out;
  color: white;
  scroll-behavior: smooth;
}

#background {
  background: linear-gradient(0, #070515, #0d0735);
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #23157b;
}

body::-webkit-scrollbar-track {
  background: #0d0735;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(0, #0d0735, #23157b);
  border-radius: 6px;
}

h1 {
  font-size: 1.5rem !important;
  color: #e0bd87 !important;
}

h2 {
  font-size: 1.2rem !important;
  color: #d5ba91 !important;
}

h3 {
  font-size: 1.1rem !important;
  color: #0d0735 !important;
}

h5 {
  font-size: 1rem !important;
  color: #e0bd87 !important;
}

p {
  font-size: 1.3rem;
  line-height: 3rem;
  text-align: justify;
  margin-bottom: 1rem !important;
}
p > a {
  color: #e0bd87 !important;
}
p > a:hover {
  border-bottom: 1px solid #636eff;
}
@media (min-width: 69em) {
  p {
    font-size: 1.1rem;
  }
}

li {
  font-size: 1.1rem;
}

.ltr {
  direction: ltr;
}

footer a {
  color: black !important;
}
footer a:hover {
  color: #636eff !important;
}

.underlineHover:hover {
  border-bottom: 1px solid #e0bd87;
}

.rightBorder {
  border-right: 1px solid #e0bd87;
  padding-right: 1rem;
}

.wrapper {
  padding: 0 10rem;
  margin: auto;
}
@media (max-width: 70em) {
  .wrapper {
    padding: 1rem;
  }
}
.wrapper-p {
  max-width: 65rem;
  padding: 0 5rem;
  margin: auto;
}
@media (max-width: 70em) {
  .wrapper-p {
    padding: 0 2rem;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.btn-purple {
  background: linear-gradient(45deg, #3cb6b4, teal);
  border-right: none !important;
}
.btn-purple h1, .btn-purple h2, .btn-purple h3, .btn-purple p {
  color: white !important;
}

input, button {
  font-size: 1rem;
}
input:hover, button:hover {
  cursor: pointer;
}

.shadow-light {
  box-shadow: 0 0 15px rgba(128, 128, 128, 0.368627451);
}
.shadow-medium {
  box-shadow: 0 0 30px #dbdbdb;
}
.shadow-large {
  box-shadow: inset 0 0 19px black, 0 0 15px black;
}
.shadow-gold {
  box-shadow: 0 0 10px #e0bd87;
}
.shadow-inset {
  box-shadow: inset 0 0 10px rgba(128, 128, 128, 0.3490196078);
}

.hoverGold {
  transition: all 0.1s ease-in-out;
}
.hoverGold:hover {
  box-shadow: 0 0 20px #e0bd87;
  transform: translateY(-0.5rem);
}

.colorPr {
  color: #e0bd87;
}

.center {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

hr {
  margin: 2rem 0 !important;
  border: 1px solid #e0bd87;
}

.touchScroll {
  -webkit-overflow-scrolling: touch;
}

.popUp {
  transform: translate(-50%, -50%);
  visibility: visible !important;
  opacity: 1 !important;
  transition: all 0.53s ease-in-out !important;
}
.popDown {
  transform: translate(-50%, -45%);
  visibility: hidden !important;
  opacity: 0 !important;
  transition: all 0.53s ease-in-out !important;
}

.slideUp {
  transform: translateY(0);
  transition: all 0.53s ease-in-out !important;
}
.slideDown {
  transform: translateY(150%);
  transition: all 0.53s ease-in-out !important;
}

.fadeOut {
  opacity: 0;
  transition: all 0.53s ease-in-out;
}
.fadeIn {
  opacity: 1;
  transition: all 0.53s ease-in-out;
}

.blur {
  filter: blur(20px), brightness(50%);
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.glow {
  -webkit-animation: glow 1s alternate infinite;
  animation: glow 1s alternate infinite;
}

@-webkit-keyframes glow {
  0% {
    filter: drop-shadow(0);
  }
  100% {
    filter: drop-shadow(0 0 4px rgba(224, 188, 135, 0.7019607843));
  }
}
@keyframes glow {
  0% {
    filter: drop-shadow(0);
  }
  100% {
    filter: drop-shadow(0 0 4px rgba(224, 188, 135, 0.7019607843));
  }
}
.spinner {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.spinner .path {
  stroke: #93bfec;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
}

.title {
  font-size: 2rem !important;
  display: flex;
}
.title-center {
  justify-content: center;
}

.divider {
  border-bottom: 1px solid rgb(121, 121, 121);
  width: 50vw;
  margin-left: 50%;
  margin-top: 0.7rem;
  margin-bottom: 0rem;
  transform: translate(-50%);
}

@media (max-width: 70em) {
  .hideForMobile {
    display: none !important;
  }
}

@media (min-width: 69em) {
  .hideForDesktop {
    display: none !important;
  }
}

.book_cover {
  margin-top: 2rem;
}
.book_cover > a {
  width: 27vw;
  margin-left: 4rem;
}
.book_cover > a img {
  box-shadow: 0 0 10px #e0bd87;
  border-radius: 5px;
}
.book_bio_title {
  font-family: sans-serif;
  font-size: 1rem;
  color: #e0bd87;
}
.book_bio_details_head {
  color: #e0bd87;
  font-size: 0.5rem;
  margin-left: 0.5rem;
}
.book_bio_details_info {
  color: whitesmoke;
  font-size: 0.5rem;
}
.book_bio_details_info:not(:last-child) {
  margin-left: 1.5rem;
}
.book_bio_description {
  direction: rtl;
  font-size: 30px;
  line-height: 3vw;
  width: 640px;
  margin: 0 0 0 90px;
  text-align: justify;
  font-family: sans-serif;
  color: white;
}
.book_bio_description span {
  color: #e0bd87;
}

.about_option_selected {
  background: linear-gradient(0deg, #e0bd87);
  box-shadow: 0 2px 10px #e0bd87;
  color: black;
}/*# sourceMappingURL=style.css.map */